! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

img {
    margin: auto;
    display: flex;
    width: 100%;
    height: auto;
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Roboto-300/Roboto-300.eot);
    src: url(../fonts/Roboto-300/Roboto-300.eot?#iefix) format('embedded-opentype'), local('Roboto Light'), local('Roboto-300'), url(../fonts/Roboto-300/Roboto-300.woff2) format('woff2'), url(../fonts/Roboto-300/Roboto-300.woff) format('woff'), url(../fonts/Roboto-300/Roboto-300.ttf) format('truetype'), url(../fonts/Roboto-300/Roboto-300.svg#Roboto) format('svg')
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Roboto-700/Roboto-700.eot);
    src: url(../fonts/Roboto-700/Roboto-700.eot?#iefix) format('embedded-opentype'), local('Roboto Bold'), local('Roboto-700'), url(../fonts/Roboto-700/Roboto-700.woff2) format('woff2'), url(../fonts/Roboto-700/Roboto-700.woff) format('woff'), url(../fonts/Roboto-700/Roboto-700.ttf) format('truetype'), url(../fonts/Roboto-700/Roboto-700.svg#Roboto) format('svg')
}

@font-face {
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    src: url(../fonts/Roboto-300italic/Roboto-300italic.eot);
    src: url(../fonts/Roboto-300italic/Roboto-300italic.eot?#iefix) format('embedded-opentype'), local('Roboto Light Italic'), local('Roboto-300italic'), url(../fonts/Roboto-300italic/Roboto-300italic.woff2) format('woff2'), url(../fonts/Roboto-300italic/Roboto-300italic.woff) format('woff'), url(../fonts/Roboto-300italic/Roboto-300italic.ttf) format('truetype'), url(../fonts/Roboto-300italic/Roboto-300italic.svg#Roboto) format('svg')
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/Roboto-700italic/Roboto-700italic.eot);
    src: url(../fonts/Roboto-700italic/Roboto-700italic.eot?#iefix) format('embedded-opentype'), local('Roboto Bold Italic'), local('Roboto-700italic'), url(../fonts/Roboto-700italic/Roboto-700italic.woff2) format('woff2'), url(../fonts/Roboto-700italic/Roboto-700italic.woff) format('woff'), url(../fonts/Roboto-700italic/Roboto-700italic.ttf) format('truetype'), url(../fonts/Roboto-700italic/Roboto-700italic.svg#Roboto) format('svg')
}

@font-face {
    font-family: Roboto Mono;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Roboto-Mono-300/Roboto-Mono-300.eot);
    src: url(../fonts/Roboto-Mono-300/Roboto-Mono-300.eot?#iefix) format('embedded-opentype'), local('Roboto Mono Light'), local('Roboto-Mono-300'), url(../fonts/Roboto-Mono-300/Roboto-Mono-300.woff2) format('woff2'), url(../fonts/Roboto-Mono-300/Roboto-Mono-300.woff) format('woff'), url(../fonts/Roboto-Mono-300/Roboto-Mono-300.ttf) format('truetype'), url(../fonts/Roboto-Mono-300/Roboto-Mono-300.svg#RobotoMono) format('svg')
}

@font-face {
    font-family: Roboto Mono;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Roboto-Mono-700/Roboto-Mono-700.eot);
    src: url(../fonts/Roboto-Mono-700/Roboto-Mono-700.eot?#iefix) format('embedded-opentype'), local('Roboto Mono Bold'), local('Roboto-Mono-700'), url(../fonts/Roboto-Mono-700/Roboto-Mono-700.woff2) format('woff2'), url(../fonts/Roboto-Mono-700/Roboto-Mono-700.woff) format('woff'), url(../fonts/Roboto-Mono-700/Roboto-Mono-700.ttf) format('truetype'), url(../fonts/Roboto-Mono-700/Roboto-Mono-700.svg#RobotoMono) format('svg')
}

body {
    max-width: 21cm;
    margin: auto;
    line-height: 1.6;
    font-weight: 300;
    font-family: Roboto, sans-serif
}

header>h1 {
    margin: 0;
    font-size: 3em;
    padding-top: 1em
}

div.banner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

div.banner>img {
    height: 100%
}

div.banner>div.status {
    color: #fff;
    background: #9400bf;
    width: 350px;
    padding: 10px;
    text-align: right
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: .0375em
}

h1,
h2 {
    color: #4b0061
}

h2 {
    margin-top: 3em
}

h3 {
    margin-top: 2.5em
}

h4 {
    font-weight: 300;
    font-size: 1.2em;
    -webkit-font-feature-settings: "c2sc";
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    margin: 2em 0 .5em
}

[role=contentinfo] a {
    text-decoration: none
}

[role=directory] ol,
ol[role=directory] {
    list-style-type: none
}

[role=contentinfo] dt {
    font-weight: 700
}

[role=contentinfo] dd {
    margin-bottom: 1em
}

a.onto {
    text-decoration: none;
    background: linear-gradient(0deg, rgba(255, 0, 0, .4), rgba(255, 0, 0, .4) 15%, #fff 16%);
    color: #434343
}

a.onto,
code,
pre {
    font-family: Roboto Mono, monospace
}

p.issue {
    border-left: 3px solid red;
    padding: .5em 1em
}

@media screen and (max-width:577px) {
    div.status {
        width: auto
    }
}

@media screen and (max-width:980px) {
    body {
        margin: 0 2em
    }
}