<h1>Explore</h1>

<mat-form-field class='crypto-selector' appearance="fill">
    <mat-label>Select a Crypto</mat-label>
    <mat-select  #coin placeholder="Select Coin">
      <mat-option *ngFor="let coin of assetsId" [value]="coin">
        {{coin}}
      </mat-option>
    </mat-select>
</mat-form-field>

<div [hidden]="!coin.value">
    <app-coin-display [coin]="coin.value"></app-coin-display>
</div>
