.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color:#050089;
  align-items: center;
  height: 6vh;
  
}
.cryma-title{
    font-size: 2vw;
    color: #344040;
    margin-bottom: 0;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}
  .mat-tab-link{
    color: white;
    opacity: inherit;
}