<div class="header">
<h1 class="cryma-title">CRYMA</h1>
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of links"
    (click)="activeLink = link"
    [active]="activeLink == link"
    [routerLink]=link.routerLink
  >{{ link.description }} </a>
</nav>
</div>
