.footer{
    background-color: #ededed;
    color: #a90190;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    
    
}
.cryma-footer-title{
    font-size: 1vw;
    margin-bottom: 0;
    font-weight: bold;
    opacity: 0.6;
}
.footer-information{
    margin-bottom: 0;
    opacity: 0.6;
    font-size: 0.8vw;
}
.footer-name{
    margin-bottom: 0;
    opacity: 0.6;
    font-size: 0.8vw;
}
