<div class="footer">
<p class="cryma-footer-title">CRYMA</p>
<p class="footer-information">Ms Software Development and Business Information Systems, FEAA, UAIC, Iasi, Romania</p>
<p class="footer-name">Lucian Ciobanu, Karim Husein, Serban Movila</p>
</div>