.about-body {
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 4vw 5%;

  h1 {
    font-size: 1.6vw;
  }

  h2 {
    font-size: 1.4vw;
    margin-top: 11vh;
    align-self: flex-end;
  }

  h3 {
    font-size: 1.2vw;
  }

  h4 {
    margin: 0;
  }

  p {
    font-size: 1vw;
  }
}

.header-container, .project-container {
  color: #050089;
}

@media only screen and (max-width: 768px) {
  .about-container {
    text-align: center;
   
    h1 {
      font-size: 4vw;
      margin: 2vw;
    }

    h2 {
      font-size: 3.6vw;
      margin: 2vw;
    }

    h3 {
      font-size: 3.2vw;
      margin: 2vw;
    }

    p {
      font-size: 3vw;
      margin: 2vw;
    }
  }
}
