<div class="about-body">
  <div class="about-container header-container">
    <h4>Ms Software Development and Business Information Systems</h4>
    <h4>Faculty of Economy and Business Administration</h4>
    <h4>University "Al. I. Cuza" of Iasi, Romania</h4>
  </div>
  <div class="about-container project-container">
    <h1>CryMa (Cryptocurrency Smart Manager)</h1>
    <p><strong>Objective:</strong> build a modular Web system capable to express and manage the information about existing
      cryptocurrencies
      and their evolution. For each considered cryptocurrency, the functionalities will be implemented by a
      (micro-)service by using a REST or GraphQL API. Exposed information will be available in multiple formats (at
      least,
      HTML and JSON). Also, multiple visualizations will be provided.</p>
    <h2>Lucian Ciobanu, Karim Husein, Serban Movila</h2>
  </div>
</div>

