<h1 *ngIf="notExplore">{{ symbol }}</h1>

<form class="date-picker" [formGroup]="dateForm" (ngSubmit)="show()">
    <mat-form-field>
        <mat-label>Choose start date for graph</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Pick start date"
            formControlName="serializedDate" [max]="todayDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-button color="primary" class="button" type="submit" [disabled]="dateForm.invalid">Show Data in Graph</button>
</form>

<div class="graph" *ngIf="showGraph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>
