h1 {
  text-align: center;
  font-size: 3vw;
  margin: 2vw 0;
}

.date-picker {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 7vw;
    margin: 5vw;
  }
}
