/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: #EDEDED;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .graph {
    display: flex;
    justify-content: center;
    height: 60vh;
    padding: 0 2vw;
  }
}
