<h1>Evolution of main 3 crypto over the last 7 Days</h1>
<div class="graph" *ngIf="showGraph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>
